@media (max-width: 1025px) {
	aside {
		width: 25%;
	}
	footer,
	header,
	.app-content,
	main {
		width: 75%;
	}
	.div-block-384 {
		margin-bottom: 0;
		min-height: 220px;
		padding-left: 36px;
		width: 80%;
	}
	.heading-97 {
		font-size: 55px;
	}
	.heading-97._3434._3423 {
		font-size: 40px;
	}
	header {
		padding: 2% 3% 2%;
		min-height: 280px;
	}
	.d1 {
		padding-left: 30px;
	}
	.text-block-927 br:not(.br) {
		display: none;
	}
	.back {
		left: -9px;
		width: 30px;
		height: 30px;
	}

}

@media (max-width: 900px) {
	aside {
		display: none;
	}
	footer,
	header,
	.app-content,
	main {
		width: 100%;
	}
	.div-block-384 {
		min-height: 220px;
		padding-left: 30px;
	}
	.drop-menu,
	.drop-menu-wrapper {
		display: flex;
	}
}

@media (max-width: 700px) {
	.menu-btn-center {
		max-width: 100px;
		min-height: 100px;
	}
	.menu-btn-left-num {
		font-size: 60px;
	}
	header {
		min-height: 250px;
	}
	.div-block-384 {
		min-height: 200px;
	}
	header {
		background-position: 50% 100%, 90px 50%;
	}
	.heading-97 {
		font-size: 49px;
	}
	.heading-97._3434._3423 {
		font-size: 34px;
	}
	.text-block-797 {
		font-size: 24px;
	}
	.d2 {
		max-width: 230px;
	}
	.description-img-fon {
		max-width: 175px;
		min-height: 175px;
	}
	.description-img-text {
		font-size: 17px;
	}
	.text-block-936,
	.text-block-927 {
		font-size: 18px;
	}
	.blockquote {
		padding-left: 11px;
		font-size: 15px;
	}
	.d1 {
		padding-left: 24px;
	}
	.back {
		width: 26px;
		height: 26px;
	}
	.text-block-927 {
		margin-bottom: 20px;
	}
	.d1 {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media (max-width: 600px) {
	.menu-btn-left,
	.menu-btn-left-num {
		max-width: 35px;
	}
	.menu-btn-center {
		max-width: 90px;
		min-height: 90px;
	}
	.menu-btn-right {
		padding-left: 20px;
	}
	.div-block-384 {
		min-height: 180px;
	}
	header {
		min-height: 224px;
	}
	.menu-btn-left-num {
		font-size: 54px;
	}
	.menu-btn-left {
		background-size: 16px, auto;
	}
	.red-dop {
		top: -34px;
	}
}

@media (max-width: 500px) {
	.d2 {
		order: -1;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.d1{padding-left: 3px;}
	.back {
		left: 9px;
		top: 12px;
	}
	.div-block-384 {
		min-height: 165px;
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 20px;
		width: 100%;
	}
	.heading-97._3434._3423 {
		font-size: 27px;
		margin-bottom: 0%;
	}
	.heading-97 {
		font-size: 39px;
	}
	header {
		min-height: fit-content;
		padding-bottom: 20px;
	}
	.menu {
		padding-top: 5%;
	}
	.menu-btn-center {
		max-width: 50px;
		min-height: 80px;
	}
	.menu-btn-left-num {
		font-size: 44px;
	}
	.menu-btn-left,
	.menu-btn-left-num {
		max-width: 25px;
	}
	.menu-btn-left {
		background-size: 14px, auto;
	}
	.menu-btn-right {
		padding-left: 11px;
	}
	.text-block-798 {
		font-size: 17px;
	}
	.text-block-797 {
		font-size: 22px;
	}
	.red-dop {
		top: -29px;
		font-size: 17px;
		max-width: 208px;
		border-radius: 15px 15px 0 0;
	}
	.menu-btn {
		margin-bottom: 2%;
	}
	.drop-menu-img img {
		width: 145px;
	}
	.drop-menu-wrapper {
		height: 40px;
	}
	.description {
		padding-bottom: 20px;
	}
	.row-description {
		margin-bottom: 20px;
	}
	.d4 {
		padding-right: 0;
		order: -1;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.inner-recomendation-img {
		width: 170px;
		height: 170px;
	}
	.d3 {
		padding-right: 0;
	}
	.uhi {
		width: 30px;
	}
	.recomendation-line {
		width: 170px;
	}
	.inner-recomendation-img,
	.media-row,
	.inner-description-img {
		box-shadow: 1px 1px 0 0 #fff, 1px 1px 3px 0 #ccc;
	}
	.inner-description-img{margin-top: 3px;}
	.book-img {max-width: 300px;}
	.media-row.book{padding-bottom: 20px;}
	.media-min{min-height: 450px;}
	.webviewer{min-height: 650px;}
}

@media (max-width: 360px) {
	.text-block-797 {
		font-size: 20px;
	}
	.menu-btn-right {
		padding-left: 8px;
	}
	.text-block-798 {
		font-size: 16px;
	}
	.back {
		width: 22px;
		height: 22px;
	}
	.inner-description-img {
		padding-bottom: 5%;
		border-radius: 12px;
	}
	.description-img-fon {
		max-width: 155px;
		min-height: 155px;
	}
	.description-img-text {
		font-size: 14px;
	}
	.text-block-936,
	.text-block-927 {
		font-size: 16px;
	}
	.uhi {
		width: 30px;
	}
	.recomendation-line {
		width: 170px;
	}
	.recomendation-txt.dop {
		margin-bottom: 7px;
	}
}

@media (max-width: 330px) {
	.heading-97 {
		font-size: 30px;
	}
	.heading-97._3434._3423 {
		font-size: 21px;
	}
	.div-block-384 {
		min-height: 134px;
	}
	header {
		min-height: fit-content;
	}
	.text-block-797 {
		font-size: 18px;
	}
	.menu-btn-center {
		max-width: 40px;
		min-height: 70px;
	}
	.red-dop {
		top: -24px;
		font-size: 15px;
		max-width: 186px;
		border-radius: 12px 12px 0 0;
	}
	.mt-dop {
		margin-top: 35px;
	}
	.menu {
		padding-bottom: 5%;
	}
	.menu-btn-left,
	.menu-btn-left-num {
		max-width: 20px;
	}
	.menu-btn-left-num {
		font-size: 37px;
	}
	.menu-btn-left {
		background-size: 11px, auto;
	}
	.text-block-798 {
		font-size: 15px;
	}
	.drop-menu-img img {
		width: 130px;
	}
	.switch-btn {
		font-size: 19px;
	}
	.drop-switch {
		max-width: 40px;
		min-width: 40px;
		height: 40px;
	}
	.drop-menu.drop {
		top: 40px;
	}
	.drop-menu-btn {
		font-size: 13px;
	}
	.div-block-384 {
		padding-left: 12px;
	}
}
